.time-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  justify-items: center;
  margin-bottom: 20px;
}

.time-option {
  border: none;
  padding: 5px;
  margin: 0;
  background: none;
  color: var(--font-color);
}

.time-option:hover {
  border: none;
  color: var(--hl-color);
}

.time-option.selected {
  color: var(--hl-color);
}

.time-selector-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.time-selector-container button {
  border: none;
  padding: 5px;
  margin: 0;
  background: none;
}

.time-selector-container button:hover {
  border: none;
  color: var(--hl-color);
}