.modal-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .command-pallet-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    justify-items: center;
}

.command-pallet {
    position: fixed;
    top: 20px;
    right: 0px;
    z-index: 100;
}

.command-pallet button {
    border: none;
    padding: 5px;
    margin: 0;
    background: none;
}

.command-pallet button:hover {
    border: none;
    color: var(--hl-color);
}