.history-wrapper {
    color: var(--font-color);
    background-color: var(--bg-color);
}

.history-title {
    color: var(--font-color);
}

.history-section {
    width: 100%;
    min-height: 40vh;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.history-list {
    max-height: 30vh;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    list-style-type: none;
    padding: 0;
    justify-items: center;
}

.singleInputHistory {
    width: 120px;
    height: 120px;
    background: var(--fg-color);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                 -5px -5px 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.singleInputHistory .header {
    height: 40%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: var(--bg-color);
    text-align: center;
    padding: 5px;
}

.singleInputHistory.skipped .header {
    background-color: var(--hl-color);
}

.singleInputHistory.found .header {
    background-color: var(--hl-color);
}

.singleInputHistory.wrong .header {
    background-color: var(--hl-color);
}

.singleInputHistory .content {
    height: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.singleInputHistory .shortcut {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
    margin-bottom: 5px;
    word-break: break-all;
}

.singleInputHistory .command {
    font-family: 'Inconsolata', monospace;
    color: var(--font-color);
    font-size: 12px;
    word-break: break-all;
}

.singleInputHistory:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.download-button {
    background-color: var(--hl-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 1rem;
}

/* Update the no-shortcuts class */
.no-shortcuts {
    color: var(--font-color);
    height: 100%;           /* Add this line */
    display: flex;          /* Add this line */
    align-items: center;    /* Add this line */
    justify-content: center;/* Add this line */
}
/* Scrollbar styles */
.history-section::-webkit-scrollbar {
    width: 4px;
    opacity: 0.5;
}

.history-section::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.history-section::-webkit-scrollbar-thumb {
    background-color: var(--hl-color);
    border-radius: 40px;
}

.success-rate {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
}
