.history-section {
    color: var(--text-color);
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}

.history-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.singleInputHistory {
    width: 150px;
    height: 150px;
    background: var(--bg-color);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                 -5px -5px 10px rgba(255, 255, 255, 0.1);
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.singleInputHistory .header {
    height: 40%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--bg-color);
}

.singleInputHistory.skipped .header {
    background-color: #e8e268;
}

.singleInputHistory.found .header {
    background-color: rgb(161, 192, 161);
}

.singleInputHistory .content {
    height: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.singleInputHistory .shortcut {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 5px;
}

.singleInputHistory .command {
    font-family: 'Inconsolata', monospace;
    color: var(--text-color);
    font-size: 12px;
}

.singleInputHistory:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

/* Scrollbar styles */
.history-section::-webkit-scrollbar {
    width: 8px;
}

.history-section::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.history-section::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 40px;
}
